{% extends 'base.html.twig' %}

{% block title %} Avis Client de {{ entreprise.nom }} {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="center-align">Avis clients de l'entreprise {{ entreprise.nom }}</h1>
        </div>
    </div>
{% endblock %}