<footer class="page-footer monpro">
    <div class="container">
        <div class="row">
            <div class="col l12 s12 center-align">
                <h5 class="white-text">Système de Gestion d'Avis MonProCertifie</h5>
                <br/>
            </div>
        </div>
    </div>
    <div class="footer-copyright monpro lighten-1">
        <div class="container center-align white-text">
            MonProCertifie © 2020
        </div>
    </div>
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}