{% extends 'base.html.twig' %}

{% block title %} Accès Refusé - {{ parent() }} {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="center-align">Accès Refusé</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col s12 center-align">
                <p class="flash-error p-4">Vous avez déjà répondu à l'enquête ! Nous vous remercions d'avoir répondu à notre enquête.</p>
            </div>
        </div>
    </div>
{% endblock %}